html{
    font-size: calc(100vw/10);
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.headerNavigation{
    width: 10rem;
    height: .2344rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.headerNavigation a{
    text-decoration: none;
    color: #979797;
    font-size: .0833rem;
    line-height: .0833rem;
}
.headerNavigation a:hover{
    color: white;
}
.itemHome {
    margin-left: .9896rem;
    padding-right: .0521rem;
    border-right: .0052rem solid #414141;
}
.itemNavigation{
    padding: 0 .0521rem;
    border-left: .0052rem solid #414141;
    border-right: .0052rem solid #414141;
}
.itemList1{
    height: .2344rem;
    padding: 0 .0521rem;
    color: #979797;
    font-size: .0833rem;
    line-height: .2344rem;

    position: relative;
}
.itemList1::after{
    font-family: 'iconfont';
    content: '\e6a4';
    font-size: .1563rem;
    vertical-align: middle;
}
.listInner{
    width: .8594rem;
    height: 1.0417rem;
    background-color: white;
    position: absolute;
    right: 0;
    top: .2344rem;
    z-index: 2;

    display: none;
}
.listInner ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itemList1:hover{
    background-color: white;
}
.itemList1:hover span{
    color: #cb242b;
}
.itemList1 span::after{
    width: .0744rem;
    height: .0744rem;
}
.itemList1:hover .listInner{
    display: block;
}
.listInner li a:hover {
    color: #cb242b;
}
.itemSignIn{
    margin-left: 2.5521rem;
    padding: 0 .0521rem;
}
.itemSignUp{
    padding: 0 .0521rem;
    border-right: .0052rem solid #414141;
}
.itemOrder{
    padding: 0 .0521rem;
    border-right: .0052rem solid #414141;
}
.itemService{
    height: .2344rem;
    padding: 0 .0521rem;
    color: #979797;
    font-size: .0833rem;
    line-height: .2344rem;

    position: relative;
}
.itemService ul{
    display: none;
    list-style: none;
    text-wrap: nowrap;
    position: absolute;
    right: 0;
    top: .2344rem;
    z-index: 2;
}
.itemService:hover{
    background-color: white;
}
.itemService:hover span{
    color: #cb242b;
}
.itemService:hover ul{
    display: block;
}
.itemService li a:hover{
    color: #cb242b;
}
.itemWebNavigate{
    height: .2344rem;
    padding: 0 .0521rem;
    color: #979797;
    font-size: .0833rem;
    line-height: .2344rem;

    position: relative;
}
.itemWebNavigate:hover{
    background-color: white;
}
.itemWebNavigate:hover span{
    color: #cb242b;
}
.webNavigateContainer{
    /* height: 1.5rem; */
    z-index: 2;
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    top: .2344rem;
}
.itemWebNavigate:hover .webNavigateContainer{
    display: flex;
}
.webNavigateBlock1{
    width: 1.0417rem;
    height: 1.5104rem;
}
.webNavigateBlock2{
    width: 1.1719rem;
    height: 1.5104rem;
    /* margin-top: .3125rem; */
}
.webNavigateBlock2 h2{
    margin-top: .3125rem;
    color: black;
}
.webNavigateBlock2 ul{
    line-height: .1823rem;
}
.webNavigateBlock2 li{
    display: inline-block;
    width: .5729rem;
}
.webNavigateBlock2 li:hover{
    color: #cb242b;
}
.webNavigateBlock3{
    width: .6771rem;
    height: .1927rem;
}
.webNavigateBlock3 h2{
    margin-top: .3125rem;
    color: black;
}
.webNavigateBlock3 ul{
    list-style: none;
    line-height: .1823rem;
}
.webNavigateBlock3 li:hover{
    color: #cb242b;
}
.itemPhoneVersion{
    height: .2344rem;
    padding: 0 .0521rem;
    color: #979797;
    font-size: .0833rem;
    line-height: .2344rem;

    position: relative;
}
.itemPhoneVersion:hover{
    background-color: white;
}
.itemPhoneVersion:hover span{
    color: #cb242b;
}
.phoneVersionContainer{
    background-color: white;
    z-index: 2;
    display: none;
    position: absolute;
    right: 0;
    top: .2344rem;
}
.phoneVersionInner{
    width: 1.7448rem;
    height: .9635rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phoneVersionInner img{
    margin-right: .0938rem;
}
.phoneVersionInner h3{
    color: black;
}
.phoneVersionInner a{
    color: red;
    text-decoration: underline;
}
.itemPhoneVersion:hover .phoneVersionContainer{
    display: block;
}
.itemCart{
    height: .2344rem;
    padding: 0 .0521rem;
    color: #979797;
    font-size: .0833rem;
    line-height: .2344rem;
    background-color: #424242;

    position: relative;
}
.itemCart::before{
    font-family: 'iconfont';
    content: '\e6af';
    font-size: .1042rem;
}
.itemCart:hover{
    background-color: white;
    color: #cb242b;
}
.itemCart:hover span{
    color: #cb242b;
}
.cartContainer{
    width: 3.2969rem;
    height: 1.6667rem;
    background-image: url(../imgs/购物车.png);
    background-size: cover;
    box-shadow: 0 0 .1563rem .0052rem rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: .2344rem;
    z-index: 1;
    display: none;
}
.itemCart:hover .cartContainer{
    display: block;
}
.headerTop{
    width: 10rem;
    height: .5365rem;
    background-color: white;
    display: flex;
    align-items: center;
}
.headerTop span{
    margin-left: 3.6458rem;
    font-size: .1563rem;
    color: #979797;
}
.headerTop span:hover{
    color: #424242;
}
.headerTop img{
    width: .7396rem;
    height: .5365rem;
    margin-left: .625rem;
}
.headerTop ul{  
    font-size: .1042rem;
    font-weight: 500;
    margin-left: .5313rem;  
}
.headerTop li{
    display: inline-block;
    margin-right: .2708rem;
}
.headerTop li a{
    color: black;
    text-decoration: none;
}
.headerTop li:hover a{
    color: #cb242b;
}

.mainPart{
    width: 7.8125rem;
    position: relative;
}
.productPath{
    width: 7.8125rem;
    height: .3333rem;
    font-size: .0729rem;
    color:#424242;
    display: flex;
    align-items: center;
}
.productPath a{
    text-decoration: none;
    color:#424242;
}
.productDetial{
    width: 7.8125rem;
    display: flex;
}
.productIntroduction{
    flex: 1;
    height: 4.6875rem;
    display: flex;
    flex-direction: column;
}
.presentationBox{
    width: 3.6563rem;
    height: 3.6563rem;
}
.presentationBox img{
    width: 3.6563rem;
    height: 3.6563rem;
}
.selectionBox{
    width: 3.6563rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectItem{
    width: .4792rem;
    height: .5885rem;
    display: flex;

}
.selectItem img{
    width: .4792rem;
    height: .4792rem;
}
.selectItem:hover{
    background-image: url(../imgs/bgseltag.png);
    background-size: cover;
}
.productConfiguration{
    flex: 1;
    padding-left: .2344rem;
    box-sizing: border-box;
}
.productConfiguration .model{
    font-size: .1458rem;
    margin-bottom: .1875rem;
}
.productConfiguration .promotions{
    font-size: .0938rem;
    margin-bottom: .2083rem;
}
.productConfiguration .promotions a{
    text-decoration: none;
    color: #d62d4a;
}
.productConfiguration .promotions span{
    color: #676767;
}
.productConfiguration .price{
    font-size: .1771rem;
    color: #d62d4a;
    margin-bottom: .1563rem;
}
.productConfiguration .huabei{
    font-size: .1042rem;
    margin-bottom: .1563rem;
}
.productConfiguration .huabei a{
    text-decoration: none;
    color: black;
}
.productConfiguration .huabei a span{
    color: #d62d4a;
}
.productConfiguration .huabei a::after{
    font-family: 'iconfont';
    content: '\e6a4';
    font-size: .2083rem;
    vertical-align: middle;
}
.productConfiguration .activities{
    font-size: .0938rem;
    
}
.productConfiguration .activities span{
    display: inline-block;
    padding: .0156rem .0208rem .0156rem .0208rem;
    margin-right: .0521rem; 
    color: #d62d4a;
    background-color: #fdf2f4;
    border-radius: .0417rem;
}
.productConfiguration .patch{
    text-decoration: none;
    font-size: .1042rem;
    color: #676767;
    margin-left: 1.1458rem;
}
.productConfiguration .patch::after{
    font-family: 'iconfont';
    content: '\e6a4';
    font-size: .2083rem;
    vertical-align: middle;
}
.productConfiguration .patch:hover{
    color: black;
}
.productConfiguration .caption{
    margin-top: .2969rem;
    font-size: .125rem;
}
.productConfiguration .skinSheet{
    width: 3.6719rem;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    font-size: .1042rem;
    color: black;
}
.productConfiguration .skinSheet .skin{
    width: 1.7813rem;
    height: .3125rem;
    margin-top: .1042rem;
    border: .0052rem solid #e5e5e5;
    border-radius: .0521rem;
    line-height: .3125rem;
    text-align: center;
}
.productConfiguration .skinSheet .skin img{
    width: .2083rem;
    height: .2083rem;
    vertical-align: middle;
}
.productConfiguration .skinSheet .unsale{
    width: 1.7813rem;
    height: .3125rem;
    margin-top: .1042rem;
    border: .0052rem solid #f1f1f1;
    border-radius: .0521rem;
    text-decoration: line-through;
    color: #bebebe;
    line-height: .3125rem;
    text-align: center;
}
.productConfiguration .skinSheet .skin:hover{
    border-color: #cb242b;
    color: #cb242b;
}
.productConfiguration .yancb{
    margin-top: .1354rem;
    color: #676767;
    font-size: .1146rem;
}
.productConfiguration .skinSheet .skin span{
    font-size: .0938rem;
    text-decoration: line-through;
    color: #424242;
    margin-left: .026rem;
}
.productConfiguration .address{
    width: 100%;
    height: .3125rem;
    margin-top: .1042rem;
    border: .0052rem solid #e5e5e5;
    border-radius: .0521rem;
    font-size: .1042rem;
    line-height: .3125rem;
    padding: 0 .1042rem 0 .1042rem;
    box-sizing: border-box;
    position: relative;
}
.productConfiguration .address:hover{
    border: none;
}
.productConfiguration .address:hover .addressContainer{
    display: block;
}
.productConfiguration .address .addressContainer{
    width: 100%;
    height: 3.8594rem;
    padding: .1042rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: .0521rem;
    box-shadow: 0 0 .1563rem .0052rem rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.productConfiguration .address .addressContainer .addressLog{
    line-height: .1042rem;
}
.productConfiguration .address .addressContainer .caption{
    line-height: .125rem;
}
.productConfiguration .address .addressContainer .selectBar{
    width: 100%;
    margin-top: .2396rem;
    list-style: none;
    display: flex;
    justify-content: center;
}
.productConfiguration .address .addressContainer .selectBar li{
    margin-right: .1563rem;
    font-size: .1146rem;
    line-height: .1146rem;
    color: #666666;
}
.productConfiguration .address .addressContainer .area{
    width: 100%;
    margin-top: .1042rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: .1042rem;
    text-align: center;
}
.productConfiguration .address .addressContainer .area li{
    width: 16.66%;
    margin-top: .1302rem;
    line-height: .1146rem;
}
.productConfiguration .delivery{
    margin-top: .1302rem;
    font-size: .1042rem;
}
.productConfiguration .delivery .activities{
    display: inline-block;
    padding: .0156rem .0208rem .0156rem .0208rem;
    margin-right: .0521rem; 
    color: #d62d4a;
    background-color: #fdf2f4;
    border-radius: .0417rem;
}
.productConfiguration .saleService{
    width: 100%;
    height: .3958rem;
    margin-top: .1563rem;
    margin-bottom: .2344rem;
    background-color: #fafafa;
    color: #676767;
    border-radius: .0521rem;
    font-size: .0938rem;
}
.productConfiguration .saleService span{
    line-height: .3958rem;
    margin-left: .1042rem; 
}
.productConfiguration .pickModel{
    font-size: .1042rem;
    color: #676767;
}
.buyoradd{
    margin-top: .2708rem;
    margin-bottom: .2604rem;
    display: flex;
    align-items: center;
}
.recommendedMatch .buyoradd{
    margin-left: 4.375rem;
}
.buyoradd .price{
    font-size: .0938rem;
    margin-right: .0521rem;
    text-wrap: nowrap;
    display: flex;
}
.buyoradd .price span{
    font-size: .1146rem;
    color: #cf0a2c;
}
.productConfiguration .buyoradd span{
    font-size: .0833rem;
    margin-right: .1563rem;
}
.buyoradd .addToCartButton{
    width: 1.3229rem;
    height: .3385rem;
    margin-right: .1302rem;
    border-radius: .1693rem;
    text-align: center;
    line-height: .3385rem;
    font-size: .1146rem;
    color: white;
    background-color: #ff944c;
}
.buyoradd .buyButton{
    width: 1.3229rem;
    height: .3385rem;
    margin-right: .1302rem;
    border-radius: .1693rem;
    text-align: center;
    line-height: .3385rem;
    font-size: .1146rem;
    color: white;
    background-color: #f74d3d;
}
.recommendedMatch{
    width: 100%;
    margin-top: .25rem;
    font-size: 0;/* 防止换行产生大面积空白*/
}
.recommendedMatch .topic{
    display: inline-block;
    vertical-align: top;
    font-size: .1302rem;
    color: #cf0a2c;
    line-height: .3698rem;
    border-bottom: .0156rem solid #cf0a2c;
    margin-bottom: .0729rem;
}
.recommendedMatch .selectedMatch{
    vertical-align: top;
    font-size: .1042rem;
    color: #676767;
}
.recommendedMatch .recommendedContent{
    width: 100%;
    margin-top: .0729rem;
    display: flex;
}
.recommendedMatch .recommendedContent .selected{
    width: 1.5625rem;
    height: 1.7708rem;
    background-color: #f7f7f7;
    border-radius: .1042rem;
    text-align: center;
}
.recommendedMatch .recommendedContent .selected img{
    width: 1.0417rem;
    height: 1.0417rem;
    margin: .0521rem;
}
.recommendedMatch .recommendedContent .selected .selectedModel{
    font-size: .0938rem;
    color: black;
}
.recommendedMatch .recommendedContent .selected .selectedModelPrice{
    font-size: .1146rem;
    color: #cf0a2c;
    margin-top: .1406rem;
}
.recommendedMatch .recommendedContent .match{
    flex: 1;
    height: 1.7708rem;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recommendedMatch .recommendedContent .match img{
    width: .9375rem;
    height: .9375rem;
    margin: .0521rem;
}
.recommendedMatch .recommendedContent .match .macthModle{
    width: 1.5625rem;
    padding: 0 .1719rem 0 .1719rem;
    box-sizing: border-box;
    margin-bottom: .0938rem;
    font-size: .0938rem;
    color: black;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.recommendedMatch .recommendedContent .match input{
    font-size: .1146rem;
    vertical-align: middle;
}
.recommendedMatch .recommendedContent .match .macthModlePrice{
    font-size: .1146rem;
    color: #cf0a2c;
    vertical-align: middle;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin{
    width: 1.1198rem;
    height: .2344rem;
    margin-top: .0885rem;
    border: .0052rem solid #e5e5e5;
    border-radius: .0521rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis; */
}
.recommendedMatch .recommendedContent .match .selectMatchSkin span{
    font-size: .099rem;
    color: #666666;
}

.recommendedMatch .recommendedContent .match .selectMatchSkin .matchSkin{
    width: 2.4479rem;
    padding: .1042rem;
    border-radius: .0521rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 .1563rem .0052rem rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: .2344rem;
    display: none;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin:hover .matchSkin{
    display: block;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchSkin p{
    font-size: .1146rem;
    color: #6c6c6c;
    margin-bottom: .1302rem;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchSkinColor{
    width: 2.2396rem;
    margin-bottom: .1302rem;
    display: flex;
    justify-content: space-between;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchSkinColor a{
    display: inline-block;
    width: .5104rem;
    height: .25rem;
    margin-right: .0521rem;
    border: .0052rem solid #e5e5e5;
    border-radius: .0521rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .0938rem;
    line-height: .25rem;
}

.recommendedMatch .recommendedContent .match .selectMatchSkin .matchSkinColor a:hover{
    color: #d21a3a;
    border-color: #d21a3a;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchVersion{
    width: 2.3958rem;
    padding: .1042rem;
    border-radius: .0521rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 .1563rem .0052rem rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: .2344rem;
    display: none;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin:hover .matchVersion{
    display: block;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchVersion p{
    font-size: .1146rem;
    color: #6c6c6c;
    margin-bottom: .1302rem;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchVersion .version{
    width: 2.1354rem;
    margin-bottom: .1302rem;
    display: flex;
    justify-content: space-between;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchVersion .version a{
    display: inline-block;
    width: 1.0573rem;
    height: .25rem;
    margin-right: .0521rem;
    border: .0052rem solid #e5e5e5;
    border-radius: .0521rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .0938rem;
    line-height: .25rem;
}

.recommendedMatch .recommendedContent .match .selectMatchSkin .matchVersion .version a:hover{
    color: #d21a3a;
    border-color: #d21a3a;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchVersion .matchSkinColor a{
    display: inline-block;
    width: .5104rem;
    height: .25rem;
    margin-right: .0521rem;
    border: .0052rem solid #e5e5e5;
    border-radius: .0521rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .0938rem;
    line-height: .25rem;
}
.recommendedMatch .recommendedContent .match .selectMatchSkin .matchVersion .matchSkinColor a:hover{
    color: #d21a3a;
    border-color: #d21a3a;
}
.sellType{
    width: 2.1354rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: .1302rem;
}
.sellType a{
    display: inline-block;
    width: .5104rem;
    height: .25rem;
    margin-right: .0521rem;
    border: .0052rem solid #e5e5e5;
    border-radius: .0521rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .0938rem;
    line-height: .25rem;
}
.sellType a:hover{
    color: #d21a3a;
    border-color: #d21a3a;
}
.relatedProductsContainer{
    width: 100%;
    display: flex;
}
.relatedProduct{
    flex: 1;
    height: 1.9271rem;
    padding: 0 .0521rem 0 .0521rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.relatedProduct img{
    width: 1.0417rem;
    height: 1.0417rem;
    margin: .0521rem;
}
.relatedProduct p{
    font-size: .1042rem;
}
.relatedProduct .price{
    color: #cf0a2c;
    margin-top: .1563rem;
}


.productInfbar{
    width: 10rem;
    
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
.productInfbarContainer{
    width: 7.8125rem;
    height: .5208rem;
    display: flex;
    align-items: center;
}
.productInfbarContainer p{
    margin-right: .5208rem;
    font-size: .1146rem;

}
.productPoster{
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.productPoster img{
    width: 100%;
}
.productInformation{
    width: 10rem;
}

.footerContainer{
    width: 10rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerTopic{
    width: 7.8125rem;
    height: .6615rem;
    display: flex;
    border-bottom: 1px solid #f4f4f5;
}
.footerTopic div{
    flex: 1;
    height: .6615rem;
    box-sizing: border-box;
    padding-top: .3333rem;
    display: flex;
    justify-content: center;
}
.footerTopic a{
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.footerContent{
    width: 7.8125rem;
    height: 2.0156rem;
    border-bottom: 1px solid #f4f4f5;
    display: flex;
}
.footerContent ul{
    list-style: none;
    width: 1.0313rem;
}
.footerContent ul p{
    margin-top: .375rem;
    margin-bottom: .2552rem;
    font-size: .0938rem;
}
.footerContent li{
    font-size: .0729rem;
    margin-top: .0729rem;
}
.footerContent a{
    text-decoration: none;
    color: #979797;  
}
.footerContent a:hover{
    color: #cb242b;
}
.hotLine{
    width: 1.6146rem;
    height: 1.0417rem;
    margin-top: .3646rem;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: .0052rem solid #f4f4f5;
}
.number{
    font-size: .1458rem;
}
.tip{
    font-size: .0833rem;
    margin-top: .0885rem;
}
.buttom{
    width: 1.1094rem;
    height: .2188rem;
    margin-top: .1354rem;
    margin-bottom: .1823rem;
    font-size: .0833rem;
    color: white;
    background-color: black;
    border-radius: .1094rem;
    line-height: .2188rem;
    text-align: center;
}
.buttom::before{
    font-family: 'iconfont';
    content: '\e625';
}
.buttom:hover{
    background-color: rgb(102, 102, 102);
}
.logo{
    font-size: .0833rem;
}
.wechat{
    color: #000;
    position: relative;
}
.wechat img{
    width: .7813rem;
    height: .7813rem;
    position: absolute;
    right: -.3385rem;
    top: .1563rem;
    display: none;
}
.wechat:hover{
    color: rgb(120, 120, 120)
}
.wechat:hover  .QR{
    display: block;
}
.identification{
    width: 7.8125rem;
    height: 1.0938rem;
}
.identificationContent{
    width: 6.25rem;
    margin-left: .2708rem;
    margin-top: .2031rem;
    font-size: .0729rem;
    color: #979797;
    display: inline-block;
}
.identificationContent a{
    text-decoration: none;
    color: #979797;
}
.logohuawei{
    width: .4219rem;
    height: .1302rem;
    margin-left: 0;
    margin-top: .2135rem;
}
.identificationContentTopic a{
    color: black;
}
.rightBlock{
    width: .5208rem;
    height: 2.0833rem;
    background-color: white;
    border-radius: .0521rem;
    box-shadow: 0 0 .1563rem .0052rem rgba(0, 0, 0, 0.1);
    position: fixed;
    right: .1042rem;
    bottom: .2083rem;

    display: flex;
    flex-direction: column;
}
.rightBlockInnerBox{
    width: .5208rem;
    height: .4167rem;
    font-size: .0833rem;
    color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.iconFont{
    margin-bottom: .026rem;
}
.iconFont::before{
    font-size: .1563rem;

}