<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .text {
            width: 640px;
            margin: 0 auto;
        }

        .article-info {
            color: #999;
            font-size: 14px;
        }

        p {
            font-size: 16px;
            line-height: 30px;
        }
    </style>
</head>

<body>
    <div class="text">
        <h1 class="title"></h1>
        <div class="article-info"> 类型：纵火 时间：2019-6-18</div>
        <p class="content">

        </p>
    </div>
    <script>
        function ajax(config) {
            return new Promise((resolve, reject) => {
                let { reqType = "get", url = "/", data = {}, contentType = "application/json", cb = function () { } } = config;
                let xhr = new XMLHttpRequest();
                if (reqType == "get") {
                    let reqArg = `?${Object.keys(data).map(item => item + "=" + data[item]).join("&")}`;
                    xhr.open(reqType, url + reqArg);
                    xhr.send();
                } else if (reqType == "post") {
                    xhr.open(reqType, url);
                    xhr.setRequestHeader("Content-Type", contentType);
                    if (contentType == "application/json") {
                        xhr.send(JSON.stringify(data));
                    } else if (contentType == "application/x-www-form-urlencoded") {
                        xhr.send(Object.keys(data).map(item => item + "=" + data[item]).join("&"));
                    }
                }
                xhr.onload = function () {
                    cb && cb(JSON.parse(xhr.responseText));
                    resolve(JSON.parse(xhr.responseText));
                }
            })
        }
        let titleEle = document.querySelector(".title");
        let contentEle = document.querySelector(".content");
        let id = window.location.search.split("=")[1];

        ajax({
            url: "/detailData",
            data: { id },
            cb: function (res) {
                let { title, detail } = res;
                console.log(res)
                titleEle.innerHTML = title;
                contentEle.innerHTML = detail;
            }
        })
    </script>
</body>

</html>